<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotto Game</title>
</head>
    <body>
        <h2>Let's play</h2>
        The closest numbers drawing will take a place on: <span th:text="${dateTimeOfNextDraw}">0000-00-00</span> at <th th:text="${drawTime}">drawTime</th>.
        You need to play on time before <span th:text="${ticketReceiverClosingTime}">ticketReceiverClosingTime</span>
        <p>Choose Your <span th:text="${amountOfNumbers}">0</span> different integer numbers between <span th:text="${lowestNumber}">0</span>-<span th:text="${highestNumber}">0</span>.
        Separate every number with one space key.<br>
        For example: 1 2 3 4 5 6<br>
        </p>
        <p>
            <form action="/receiver" method="post">
            Numbers: <input type="text" name="input"><br/>
            <button type="submit">Submit numbers</button>
            </form>
        </p>
        <p>
            Message:   <th th:text="${messageForUser}">message</th><br>
            Hash code: <th th:text="${generatedHash}">hash</th>
        </p>
        Copy Your hash code and check result today after <th th:text="${announcerTime}">announcerTime</th><br>
        <small><a th:href="@{/home}">Back home page</a></small>
    </body>
</html>